@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

#app {
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

.titulo-home {
  text-align: center;
  margin-top: 1rem;
}

.titulo-seccion {
  text-transform: capitalize;
  text-align: center;
  margin-top: 1rem;
}