.item-detail {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: 2rem auto auto auto;
  align-items: center;
}

.img-desc-detail-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.descripcion-detail-item {
  max-width: 20rem;
  margin-left: 10rem;
}

.descripcion-detail-item li {
  list-style-type: none;
}

.imagen-detail-item {
  max-width: 35rem;
  max-height: 35rem;
  width: auto;
  height: auto;
}

.footer-detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 4rem;
}

.precio-detail-item {
  font-style: italic;
  font-weight: 600;
}

.item-detail-controls {
  display: flex;
}

.item-detail-controls input {
  width: 3rem;
  text-align: center;
  border: none;
}

.item-detail-controls button {
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
}

.btn-cant {
  font-weight: 600;
  font-size: 1rem;
}

.btn-agregar {
  padding: 0 0.5rem;
}

.item-detail-controls button:hover {
  background-color: lightgrey;
}

.item-detail-controls-hidden {
  display: none;
}

.separador-detail {
  width: 20rem;
  min-height: 1px;
  background-color: lightgray;
  margin: 1rem 0;
}

@media (max-width: 800px) {
  .item-detail {
    max-width: 100vw;
  }

  .img-desc-detail-item {
    flex-direction: column-reverse;
  }
  .descripcion-detail-item {
    max-width: 90%;
    margin: 0 3rem;
  }
}
